<a href="https://colab.research.google.com/github/EEdwardsA/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment_Elizabeth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [6]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [7]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])

In [8]:
df.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
APARTMENT_NUMBER                          object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [9]:
df.set_index('SALE_DATE', inplace=True)

In [10]:
# "Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' 
# and the sale price was more than 100 thousand and less than 2 million."

df.copy()
df = df[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
        (df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)]
df.shape

(3151, 20)

In [11]:
df.tail()

           BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE_DATE                        ...
2019-04-30       4        OTHER  ...                             A2     635000
2019-04-30       4        OTHER  ...                             A1     514000
2019-04-30       4        OTHER  ...                             A0     635000
2019-04-30       4        OTHER  ...                             A1     545000
2019-04-30       4        OTHER  ...                             A5     510000

[5 rows x 20 columns]

In [12]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
dtype: object

In [13]:
df.LAND_SQUARE_FEET.replace({',':''}, regex=True, inplace=True)
df.LAND_SQUARE_FEET = df.LAND_SQUARE_FEET.astype('int32')
df.LAND_SQUARE_FEET.dtype

dtype('int32')

In [14]:
# "Do train/test split. Use data from January â€” March 2019 to train. 
# Use data from April 2019 to test."

y = df['SALE_PRICE']
X = df[['BOROUGH',	'NEIGHBORHOOD',	'TAX_CLASS_AT_PRESENT',	'BLOCK',	'LOT',	
      	'BUILDING_CLASS_AT_PRESENT', 'ZIP_CODE',	'RESIDENTIAL_UNITS',
        'COMMERCIAL_UNITS',	'TOTAL_UNITS',	'LAND_SQUARE_FEET',	'GROSS_SQUARE_FEET',
        'YEAR_BUILT',	'TAX_CLASS_AT_TIME_OF_SALE',	'BUILDING_CLASS_AT_TIME_OF_SALE']]

mask = df.index < '2019-04'
y_train, X_train = y.loc[mask], X.loc[mask]
y_test, X_test = y.loc[~mask], X.loc[~mask]

In [15]:
# "Do one-hot encoding of categorical features."

In [16]:
from category_encoders import OneHotEncoder

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [17]:
ohe = OneHotEncoder(use_cat_names=True)

In [18]:

X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [19]:
X_train_ohe

            BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
SALE_DATE              ...
2019-01-01          1  ...                                  0
2019-01-01          0  ...                                  0
2019-01-02          0  ...                                  0
2019-01-02          1  ...                                  0
2019-01-02          1  ...                                  0
...               ...  ...                                ...
2019-03-29          0  ...                                  0
2019-03-29          0  ...                                  0
2019-03-29          0  ...                                  0
2019-03-29          0  ...                                  0
2019-03-30          0  ...                                  0

[2507 rows x 48 columns]

In [22]:
X_train_ohe.isnull().sum()

BOROUGH_3                            0
BOROUGH_4                            0
BOROUGH_2                            0
BOROUGH_5                            0
BOROUGH_1                            0
NEIGHBORHOOD_OTHER                   0
NEIGHBORHOOD_FLUSHING-NORTH          0
NEIGHBORHOOD_EAST NEW YORK           0
NEIGHBORHOOD_BEDFORD STUYVESANT      0
NEIGHBORHOOD_FOREST HILLS            0
NEIGHBORHOOD_BOROUGH PARK            0
NEIGHBORHOOD_ASTORIA                 0
TAX_CLASS_AT_PRESENT_1               0
TAX_CLASS_AT_PRESENT_1D              0
BLOCK                                0
LOT                                  0
BUILDING_CLASS_AT_PRESENT_A9         0
BUILDING_CLASS_AT_PRESENT_A1         0
BUILDING_CLASS_AT_PRESENT_A5         0
BUILDING_CLASS_AT_PRESENT_A0         0
BUILDING_CLASS_AT_PRESENT_A2         0
BUILDING_CLASS_AT_PRESENT_A3         0
BUILDING_CLASS_AT_PRESENT_S1         0
BUILDING_CLASS_AT_PRESENT_A4         0
BUILDING_CLASS_AT_PRESENT_A6         0
BUILDING_CLASS_AT_PRESENT_A8         0
BUILDING_CLASS_AT_PRESENT_B2         0
BUILDING_CLASS_AT_PRESENT_S0         0
BUILDING_CLASS_AT_PRESENT_B3         0
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE_A9    0
BUILDING_CLASS_AT_TIME_OF_SALE_A1    0
BUILDING_CLASS_AT_TIME_OF_SALE_A5    0
BUILDING_CLASS_AT_TIME_OF_SALE_A0    0
BUILDING_CLASS_AT_TIME_OF_SALE_A2    0
BUILDING_CLASS_AT_TIME_OF_SALE_A3    0
BUILDING_CLASS_AT_TIME_OF_SALE_S1    0
BUILDING_CLASS_AT_TIME_OF_SALE_A4    0
BUILDING_CLASS_AT_TIME_OF_SALE_A6    0
BUILDING_CLASS_AT_TIME_OF_SALE_A8    0
BUILDING_CLASS_AT_TIME_OF_SALE_S0    0
dtype: int64

In [23]:
# "Do feature selection with SelectKBest."

from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func = f_regression, k=3)
X_train_ohe_selected = selector.fit_transform(X_train_ohe, y_train)
selected_mask = selector.get_support()
all_features = X_train_ohe.columns
selected_feature = all_features[selected_mask]
print('The 3 features that explain sales price best are',selected_feature[0:3])

The 3 features that explain sales price best are Index(['LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [24]:
# "Fit a ridge regression model with multiple features. Use the normalize=True parameter 
# (or do feature scaling beforehand â€” use the scaler's fit_transform method with 
# the train set, and the scaler's transform method with the test set)"

from sklearn.linear_model import Ridge

model = Ridge(alpha=10, normalize=True)
model.fit(X_train_ohe, y_train)

Ridge(alpha=10, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [25]:
X_test_ohe = ohe.transform(X_test)

In [26]:
from sklearn.metrics import mean_absolute_error
print('Ridge Train MAE', mean_absolute_error(y_train, model.predict(X_train_ohe)))
print('Ridge Test MAE', mean_absolute_error(y_test, model.predict(X_test_ohe)))

Ridge Train MAE 200825.00246544942
Ridge Test MAE 199420.07194013006

In [27]:
X_test_ohe.shape

(644, 48)

In [28]:
X_train_ohe.shape

(2507, 48)

In [29]:
y_train.shape

(2507,)

In [30]:
y_test.shape

(644,)